.app__menu-item {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 1rem 0;
}

.app__menu-item-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.app__menu-item-sub {
  width: 100%;
  margin-top: 0.2rem;
}

.app__menu-item-name {
  flex: 1;
}

.app__menu-item-dash {
  width: 90px;
  height: 1px;
  background: var(--color-golden);
  margin: 0 1rem;
}

.app__menu-item-price {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.app__menu-item-price_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

@media screen and (max-width: 350px) {
  .app__menu-item-dash {
    width: 10px;
  }
}
