.app__about-us {
  position: relative;
}

.app__about-us-overlay {
  position: absolute;
  inset: 0;
}

.app__about-us-overlay img {
  width: 391px;
  height: 415px;
  z-index: 0;
}

.app__about-us-content {
  z-index: 2;
  width: 100%;
}

.app__about-us-content_about {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: flex-end;
  align-items: flex-end;
  text-align: right;
}

.app__about-us-content_knife {
  margin: 2rem 4rem;
}

.app__about-us-content_knife img {
  height: 910px;
}

.app__about-us-content_history {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: left;
}

.app__about-us-content_about p,
.app__about-us-content_history p {
  text-transform: none;
  margin: 2rem 0;
  color: var(--color-grey);
}

@media screen and (max-width: 2000px) {
  .app__about-us-knife img {
    height: 1110px;
  }

  .app__about-us-content_about p,
  .app__about-us-content_history p {
    margin: 4rem 0;
  }
}

@media screen and (max-width: 900px) {
  .app__about-us-content {
    flex-direction: column;
  }

  .app__about-us-content_knife {
    margin: 4rem 0;
  }
}

@media screen and (max-width: 650px) {
  .app__about-us-overlay img {
    width: 80%;
    height: 320px;
  }
}
